h1 {
    color: yellow;
    text-align: center;
    font-size: 100px;
        background-color: blue;
    box-shadow: 15px 15px;
}
h2{
    color: rgb(38, 255, 0);
    font-size: 50px;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: left;
}
.button {
    background-color: blue;
    border: 2px solid green;
    text-align: right;
    font-size: 70px;
    color: green;
    float: right;
}
.h12{
    background-color: blue;
    box-shadow: 15px 15px;
}
.ol1{
    color: yellow;
    position: fixed;
    left: 50px;
    top: 125px;
    font-size: 70px;
}
.b1 {
    background-color: yellow;
    border: 2px solid greenyellow;
    color: green;
}
    .b2 {
    background-color: blue;
    border: 2px solid purple;
    color: purple;
    }
    .b3 {
    background-color: red;
    border: 2px solid green;
    color: green;
    }
    .b4 {
    background-color: yellow;
    border: 2px solid purple;
    color: purple;
    }
    .b5 {
    background-color: green;
    border: 2px solid blue;
    color: blue;
    }
    .b6 {
    background-color: goldenrod;
    border: 2px solid red;
    color: red;
    }
    .b7 {
    background-color: pink;
    border: 2px solid green;
    color: green;
    }
    .b8 {
    background-color: orange;
    border: 2px solid blue;
    color: blue;
    }
    .b9 {
    background-color: red;
    border: 2px solid blue;
    color: pink;
    }
.b10 {
    background-color: yellow;
    border: 2px solid greenyellow;
    color: green;
}
    .b11 {
    background-color: blue;
    border: 2px solid purple;
    color: purple;
    }
    .b12 {
    background-color: red;
    border: 2px solid green;
    color: green;
    }
    .b13 {
    background-color: yellow;
    border: 2px solid purple;
    color: purple;
    }
    .b14 {
    background-color: green;
    border: 2px solid blue;
    color: blue;
    }
    .b15 {
    background-color: goldenrod;
    border: 2px solid red;
    color: red;
    }
    .b16 {
    background-color: pink;
    border: 2px solid green;
    color: green;
    }
    .b17 {
    background-color: orange;
    border: 2px solid blue;
    color: blue;
    }
    .b18 {
    background-color: red;
    border: 2px solid blue;
    color: pink;
    }
    .b19 {
    background-color: purple;
    border: 2px solid goldenrod;
    color: goldenrod;
    }
    .b20 {
    background-color: yellow;
    border: 2px solid greenyellow;
    color: green;
}
    .b21 {
    background-color: blue;
    border: 2px solid purple;
    color: purple;
    }
    .b22 {
    background-color: red;
    border: 2px solid green;
    color: green;
    }
